<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
            </tr>
            </thead>
            <tbody class="table-striped">
                <tr th:each="company : ${company}">

                    <td th:text="${company.id}" />
                    <td th:text="${company.firstName}" />
                    <td th:text="${company.lastName}" />
                    <td th:text="${company.age}" />
                    <td>
                        <button class="btn btn-primary">
                            <a th:href="${'/company/' + company.id}">Detail</a>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <input th:value="${text}"/>
    </div>
</body>
</html>